html {
  /* Set base font size to effectively scale rem units down by 10% */
  /* Default is typically 16px, 16 * 0.9 = 14.4px */
  font-size: 14.4px; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide default browser number input spinners */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
} 